
.banner{
	width: 100%;
	height: 540px;
	background-color: #F5F5F5;
	float: left;
	overflow: hidden;
    position: relative;
}
.bannerdw{
	position: absolute;
	top: 0;
	right: 0;
	width: 1366px;
	height: 540px;
	opacity: 0;
	transition: all 1s;
}
.bannerbox{
    width: 1366px;
    height: 540px;
    margin: 0 auto;
    top: 0;
    left: 0;
    position: relative;
}
.bannerbox .select{
	opacity: 1;
}
.banner_center{
    width: 1366px;
    height: 540px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 83px;
}
.shuzi{
	position: absolute;
	width: 42px;
	height: 171px;
    bottom: 25px;
	left: 33px;
    z-index: 999;
}
.shuzi1{
	width: 27px;
	height: 32px;
	text-align: center;
	font-size: 21px;
	color: #2F2F2F;
	margin: 0 auto;
	line-height: 32px;
	position: relative;
}
.shuzi .select{
	color: #2D6C8C;
}
.shuzi1 .select{
	opacity: 1;
}
.zkuohao{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.ykuohao{
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
}
.shuzi1:hover .zkuohao,.shuzi1:hover .ykuohao{
	opacity: 1;
}
.shuzi1:hover{
	color: #2D6C8C;
}
.chanpin{
	width: 100%;
	height: 976px;
	background-color: #fff;
	float: left;
}
.chanpin_center{
	width: 1200px;
	height: 936px;
	margin: 0 auto;
}
.biaoti{
	width: 427px;
	height: 122px;
	margin-left: 386px;
	margin-top: 40px;
	position: relative;
}
.z_biaoti{
	width: 142px;
	height: 75px;
	float: left;
	margin-top: 40px;
}
.livable{
	font-size: 24px;
	color: #2D6C8A;
	letter-spacing: 2px;
	float: right;
	font-weight: normal;
}
.era{
	float: right;
	color: #2D6C8A;
	letter-spacing: 2px;
	font-weight: normal;
}
.juxing{
	top: 19px;
	left: 161px;
	position: absolute;
}
.anli{
	position: absolute;
	top: 40px;
	left: 175px;
}
.fangzi{
	position: absolute;
	top: 0;
	right: 148px;
	z-index: 999;
	background-color: #fff;
}
.y_biaoti{
	margin-left: 140px;
}
.something{
	font-size: 12px;
	color: #888888;
	float: left;
}
.dont{
	font-size: 16px;
	color: #363636;
}
.chanpin_bottom{
	width: 1200px;
	height: 776px;
	float: left;
	margin-top: 38px;
}
.cp_b1{
	width: 371px;
	height: 371px;
	border: 1px solid #CDCDCD;
	float: left;
	overflow: hidden;
	position: relative;
	margin-right: 40px;
	margin-bottom: 30px;
}
.cp_b1:nth-child(3n){
	margin-right: 0;
}
.canzhuo{
	width: 371px;
	height: 371px;
}
.yuanzhuo{
	width: 500px;
	height: 450px;
	float: left;
}
.juzhong{
	width: 326px;
	height: 326px;
	background-color: #5688A3;
	position: absolute;
	top: 22px;
	left: 22px;
	opacity: 0.9;
	visibility: hidden;
}
.juzhong_z{
	position: absolute;
	top: 50px;
	left: 126px;
}
.juzhong_y{
	position: absolute;
	top: 50px;
	right: 126px;
}
.canyinkuang{
	position: absolute;
	top: 50px;
	left: 138px;
}
.can{
	position: absolute;
	top: 78px;
	left: 144px;
}
.zhuo{
	position: absolute;
	bottom: 68px;
	left: 144px;
}
.tablez{
	position: absolute;
	top: 158px;
	left: 54px;
}
.tuoyuan{
	position: absolute;
	top: 158px;
	left: 83px;
}
.tuoyuany{
	position: absolute;
	top: 158px;
	right: 83px;
}
.tabley{
	position: absolute;
	top: 158px;
	right: 54px;
}
.table{
	position: absolute;
	top: 150px;
	left: 101px;
}
.cp_b1:hover .juzhong{
	visibility: visible;
}
.cp_b2{
	margin-left: 40px;
}
.cp_b3{
	margin-top: 30px;
}
.alzs{
	width: 100%;
	height: 520px;
	background-color: #fff;
	float: left;
}
.alzs_center{
	width: 1200px;
	height: 480px;
	margin: 0 auto;
	margin-top: 3px;
}
.alzs_bottom{
	width: 1200px;
	height: 320px;
	float: left;
	margin-top: 38px;
}
.alzs_left{
	width: 484px;
	height: 320px;
	float: left;
	margin-left: 86px;
	position: relative;
}
.alzs_l1{
	width: 454px;
	height: 274px;
	border: 2px solid #fff;
	position: absolute;
	top: 24px;
	right: 0;
}
.alzs2{
	width: 454px;
	height: 274px;
}
.btn_l{
	width: 40px;
	height: 40px;
	background-color: #000000;
	position: absolute;
	bottom: 0;
	right: 78px;
	text-align: center;
}
.btn_l span{
	color: #fff;
	font-size: 20px;
	line-height: 40px;
}
.btn_r{
	width: 40px;
	height: 40px;
	background-color: #000000;
	position: absolute;
	bottom: 0;
	right: 38px;
	text-align: center;
}
.btn_r span{
	color: #fff;
	font-size: 20px;
	line-height: 40px;
}
.btn_l:hover,.btn_r:hover{
	background-color: #2D6C8C;
}
.alzs_bottom img:hover{
	box-shadow: 2px 2px 20px 2px #DDDDDB;
}
.alzs_right{
	width: 481px;
	height: 296px;
	float: right;
	margin-right: 86px;
	margin-top: 18px;
}
.yangtai{
	font-size: 36px;
	float: left;
}
.yangtaiz{
	font-size: 30px;
	font-weight: normal;
	float: left;
	margin-left: 21px;
	margin-top: 2px;
}
.kaitou{
	width: 327px;
	font-size: 14px;
	color: #666666;
	float: left;
	margin-top: 20px;
}
.lanse_more{
	width: 73px;
	height: 24px;
	float: right;
	margin-top: 50px;
	color: #2F6C8B;
	font-size: 12px;
	line-height: 24px;
}
.more_di{
	width: 25px;
	height: 25px;
	background-color: #2D6C8C;
	float: right;
	color: #fff;
	line-height: 25px;
	text-align: center;
}
.sx_xian{
	width: 481px;
	height: 1px;
	background-color: #B2B2B2;
	float: left;
	position: relative;
}
.sx_lanxian{
	width: 73px;
	height: 1px;
	background-color: #668B9D;
	position: absolute;
	top: 0;
	right: 0;
}
.duanluo{
	color: #2C2A2B;
	font-size: 14px;
	float: left;
	margin-top: 19px;
}
.tuandui{
	width: 100%;
	height: 799px;
	background-color: #fff;
	float: left;
}
.tuandui_top{
	width: 1200px;
	height: 163px;
	margin: 0 auto;
}
.tuandui_bottom{
	width: 100%;
	height: 519px;
	float: left;
	position: relative;
}
.tuanduib_top{
	width: 100%;
	height: 409px;
	background-color: #557284;
	position: relative;
}
.sytongping{
	width: 100%;
	height: 409px;
	margin: 0 auto;
}
.PROTENA{
	position: absolute;
	top: 75px;
	left: 167px;
}
.xiangmu{
	position: absolute;
	top: 130px;
	left: 167px;
}
.lanse_more1{
	border-bottom: 2px solid #fff;
	color: #fff;
	position: absolute;
	top: 20px;
	left: 576px;
}
.more_di1{
	background-color: #fff;
	color: #010101;
}
.tuanduib_left{
	width: 596px;
	height: 214px;
	position: absolute;
	top: 288px;
	left: 166px;
}
.tuanduib_l1{
	width: 119px;
	height: 214px;
	float: left;
	position: relative;
}
.chengse{
	position: absolute;
	top: 0;
	left: 0;
	width: 119px;
	height: 3px;
	background-color: #F5C812;
	visibility: hidden;
}
.tuanduib_limg{
	width: 118px;
	height: 179px;
	border-top: 3px solid #ADC4D2;
	border-bottom: 1px solid #ADC4D2;
}
.tuanduib_limg img{
	width: 119px;
	height: 179px;
	margin-bottom: 15px;
}
.tuanduib_l1 span{
	font-size: 12px;
	color: #B2B2B2;
	font-weight: bold;
	line-height: 50px;
	margin-left: 10px;
}
.tuanduib_l1:hover .chengse{
	visibility: visible;
}
.tuanduib_l1:hover span{
	color: #000;
}
.tuanduib_l2{
	margin-left: 40px;
}
.tuanduib_right{
	width: 472px;
	height: 648px;
	position: absolute;
	bottom: 0;
	right: 110px;
}
.tiaowenkuang{
	position: absolute;
	bottom: 0;
	right: 51px;
}
.tiaowen{
	position: absolute;
	bottom: 0;
	right: 51px;
}
.bj_sekuai{
	position: absolute;
	bottom: 21px;
	left: 73px;
	width: 331px;
	height: 457px;
}
.bj_sekuai img{
	width: 331px;
	height: 457px;
}
.heiren{
	position: absolute;
	top: 0;
	left: 0;
}



